

  <div class="product">
        

        <img class="product__image2" src="{{imagen2}}" alt="">

        <p class="product__description">{{descripcion}}</p>
         
        <div class="product__datas">
          <p class="product__nombre">{{nombre}}</p>
          <p class="product__precio">${{precio}}</p>
          <a class="product__anadir"  data-name="{{this._id}}" href="">
                     <p>Add to cart</p>
          </a>        
        </div>

  </div>

 <script src="/scripts/header.js"></script>
  <script src="/scripts/product.js"></script>





    
